
{% extends "base.html" %}

{% block content %}

    <div class="container" id = "mycontainer" style="padding: 2px;">
      <h2>Password Manager App</h2>
    </div>
    <div class="container" id="mycontainer">
      <form method="POST" action="/add">
        <!-- email -->
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name = "email" aria-describedby="emailHelp" placeholder="EMAIL">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <!-- password -->
        <div class="form-group">
          <label for="site_password">Password</label>
          <input type="password" class="form-control" id="password" name ="site_password" placeholder="SITE PASSWORD">
        </div>
        <!-- site name -->
        <div class="form-group">
          <label for="site_name">Site</label>
          <input type="text" class="form-control" id="site" name = "site_name" placeholder="SITE NAME/URL">
        </div>
       
        <button type="submit" class="btn btn-primary">ADD</button>
      </form>
    </div>
    <br>

      <div class="container">
        
            <table class="table">
              <thead class="thead-light">
                <tr>
  
                  <th scope="col">Email</th>
                  <th scope="col">Site Address</th>
                  <th scope="col">Site Password</th>
                  <th scope="col">Actions</th>
                  <th scope="col">Visibility</th>
                </tr>
                </thead>
                {% for items in user_list%}
                <tbody>
                  <td>{{items.email}}</td>
                  <td>{{items.site_name}}</td>
                  <td><input type="password" value="{{ items.site_password }}" id="{{ items.id}}"></td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" role="button" href="/delete/{{items.id}}">Delete</a>
                    <br>
                    <a class="btn btn-outline-success btn-sm" role="button" href="/update/{{items.id}}">Update</a>
                   </td>
                <td>
                    <input type="checkbox" onclick="myFunction({{items.id}})">Show Password
                </td>
                </tbody>
                {% endfor %}

            </table>
          </div>
    
     
          <script>
            function myFunction(pid) {
              var x = document.getElementById(pid);
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
            </script>



{%endblock%}
